@charset "UTF-8";

html{
    height: 100%;
}

body{
    /* height: 100%; */
    padding:50px 0;
    /* height:100vh; */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg,  #e3ff85 0% , #369bf4 100%);
}

#container{
    background: rgba(0, 0, 0, 0.25); 
    /* 赤（R）緑（G）青（B）アルファ(透過度) A(アルファ)は0（完全に透明）~1（不透明）という数値で指定 */
    border-radius: 5px;    
    color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 1rem;
}


h1 {
    text-align: center;/* 中央寄せ */
    margin-bottom: 20px;
}

.atlas_logo {
    text-align: center;/* 中央寄せ */
}

.words {
    text-align: center;/* 中央寄せ */
    margin-bottom: 20px;
    color: #fff;
}




section{
    /* background-color:#888888; */
}

/* div,container{
    width:100px;
    height:100px;
    margin:0 auto;
    color: #ffffff;
} */

/* フォームのレイアウト */
.login_form{
    text-align: center;/* 中央寄せ */
    margin-bottom: 20px;
}

.form{
    margin-bottom: 20px;
    color: #fff;
    /* display: block; */
}

/* 新規登録後の画面 */
.login-name{
    text-align: center;
    padding: 3px 10px 3px;
}

.login-comment{
    text-align: center;
}

.login-subcomment01{
    text-align: center;
    padding: 20px 10px 3px;
}

.login-subcomment02{
    text-align: center;
    padding: 3px 10px 20px;
}

.input{
    display: block;
    width: 90%;
    padding: 0.5rem;    
    text-align: center;/* 中央寄せ */
    /* margin-bottom: 20px; */
    margin: 0 auto 20px 
}

.form_input{
    text-align: start;
}

.form_submit{
    text-align: end;
}

