@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    width: 100%;
    text-align:center;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

/* #menu{
    display: none;
    position: absolute; 
} */

.accordion-container .accordion-title {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
}

.accordion-title .menu{
    margin: 0 auto;
    display: none;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 40px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-top: solid 2ppx #fff;
}








