@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
.side-bar{
    flex: 0 0 0 auto;
    border-left: 1px solid #727272;
}

/* モーダル */
.modal-main{
    display: none;
}

.modal-inner{
    display: flex;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    width: 100%;
    text-align:center;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.accordion-container .accordion-title {
    display: flex;
    color: #fff;
    margin-left: auto;
    margin-right: 0px;
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
}

/* .accordion-title .menu{
    margin: 0 auto;
    display: none;
} */

/* 閉じた状態 */
.accordion-title.menu:after {
    content: "";
    position: absolute;
    right: 40px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-top: solid 2ppx #fff;
}

/* button{
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 15px 0 15px 20px;
    font-size:1em;
}
button:hover{
    background-color: #fff;
}

button::before,
button::after{
    content:"";
    position: absolute;
    top: 20px;
    width: 1.5px;
    height: 8px;
    background-color: #fff;
    transition: .5s;
}

button::before{
    transform: rotate(-45deg);
    right: 35px;
}

button::after{
    transform: rotate(45deg);
    right: 30px;
}
 */







